{% extends 'base.html.twig' %}

{% block title %}Nouvelle AE{% endblock %}

{% block body %}

    {{ include('driving_school/_form.html.twig') }}

    <a href="{{ path('app_driving_school_index') }}">back to list</a>
{% endblock %}