{% extends 'base.html.twig' %}

{% block title %}Client index
{% endblock %}

{% block body %}


	<section>
		{{ include('composants/header.html.twig') }}
		<section class="ml-64 mt-32">
			{% include 'composants/_adminSideBar.html.twig' with {'current_page': 'admin'} %}
			<div class='m-6'>
				<h1 class="text-6xl text-black dark:text-third pb-8 font-light">Vos salariés</h1>
				<div class='flex items-center justify-between'>
					<div class='flex items-center gap-6'>
						<div class='flex items-center bg-red-primary dark:bg-dark-dark-purple rounded'>
							<div class='flex items-center rounded'>
								{# {% include "composants/_searchData.html.twig" with { form: form, placeholder: 'Chercher par nom, prénom' } only %} #}
							</div>
						</div>

						<div class='flex gap-2 bg-blue-primary hover:bg-blue-secondary rounded p-2 pointer'>
							<span class="material-symbols-outlined flex-shrink-0 w-5 h-5 text-white">add</span>
							<a class='text-white mr-2' href="{{ path('app_user_new') }}">Créer nouveau</a>
						</div>
					</div>
				</div>

				{% include 'composants/_table.html.twig' with {'columns': [
					['firstname', 'Prénom', true],
					['lastname', 'Nom', true],
					['email', 'Mail', true],
					['actions', 'Actions', false]
				],
					'datas': users,
					'showAction': ['Voir', 'app_user_show'],
					'updateAction': ['Modifier', 'app_user_edit'],
					'deleteAction': ['Supprimer', 'app_user_delete']
				}
				%}

			</div>
		</section>
	</section>
{% endblock %}
