{% extends 'base.html.twig' %}

{% block title %}Vos employés{% endblock %}

{% block body %}

    <section>

        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'admin'} %}
            <div class='m-8'>
                <h1 class="text-6xl text-five dark:text-third pb-8 font-light">Vos employés</h1>
            </div>
            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Information de l'utilisateur",
                        user
                    ]
                ],
                'elementsToDisplay': [
                    [
                        ['Prénom', 'firstname'],
                        ['Nom', 'lastname'],
                        ['Mail', 'email']
                    ]
                ]
            } %}

        </section>
    </section>
{% endblock %}
