{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

    <section>
        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'product'} %}
            <div class='m-8'>
                <h1 class="text-7xl text-black dark:text-third pb-8 font-light">Visualisation produit</h1>
            </div>
            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Produit",
                        product
                    ],
                ],
                'elementsToDisplay': [
                    [
                        ['Nom produit', 'productName'],
                        ['Description', 'productDescription'],
                        ['Prix', 'productPrice'],
                        ['Heure', 'productHour'],
                    ],
                ]
            }
            %}
            <section class="flex m-8 gap-4 self-end">
                <div class='flex gap-2 bg-blue-primary hover:bg-blue-secondary rounded p-2 pointer'>
                    <span class="material-symbols-outlined flex-shrink-0 w-5 h-5 text-white">arrow_back</span>
                    <a class="text-white" href="{{ path('app_product_index') }}">Retour à la liste</a>
                </div>

                <div class="flex gap-4 bg-orange-primary hover:bg-orange-secondary p-2 rounded items-center justify-between">
                    <a href="{{ path('app_product_edit', {'id': product.id })}}" type="submit" class='text-white'>Modifier</a>
                    <span class="material-symbols-outlined flex-shrink-0 w-5 h-5 text-white transition duration-75">edit_square</span>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
