{% extends 'base.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <section>
        {{ include('composants/header.html.twig') }}
        <section class="ml-64 mt-32">
            {% include 'composants/_adminSideBar.html.twig' with {'current_page': 'contract'} %}
            <div class='m-8'>
                <h1 class="text-7xl text-five dark:text-third pb-8 font-light">Visualisation contrat</h1>
            </div>
            {% include 'composants/_showElements.html.twig' with {
                'sections': [
                    [
                        "Contrat",
                        contract
                    ],
                ],
                'elementsToDisplay': [
                    [
                        ['Numéro de contrat', 'id'],
                        ['Nom', 'name'],
                        ['Description', 'description'],
                        ['Prix', 'price'],
                    ],
                ]
            }
            %}
            <section class="flex m-8 gap-4 self-end">
                <div class='flex gap-2 bg-blue-primary hover:bg-blue-secondary rounded p-2 pointer'>
                    <span class="material-symbols-outlined flex-shrink-0 w-5 h-5 text-white">arrow_back</span>
                    <a class="text-white" href="{{ path('app_contract_index') }}">Retour à la liste</a>
                </div>
            </section>
        </section>
    </section>
{% endblock %}
